.calendar-grid {
  margin: 0 auto;
}

@media (max-width: 850px) {
  .calendar-grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .tile img {
    max-width: 100vw;
    max-height: 700px;
  }
}
.tile {
  transition: box-shadow 0.18s, transform 0.18s;
}
.tile:active,
.tile:hover {
  box-shadow: 0 8px 28px #955fd7bb;
  transform: translateY(-6px) scale(1.03);
}
