body {
  margin: 0;
  font-family: system-ui,sans-serif;
  background: #eee;
}
.card img {
  max-height: 70vh;
  object-fit: cover;
  box-shadow: 0 4px 16px #0001;
  margin: 0 auto 18px auto;
  background: #fff;
}
.card h2 {
  margin-bottom: 18px;
}
